@import 'common/mixin';
@import 'common/fonts';
//@import 'common/sprite';
//@import 'common/sprite-png';

//$color-fon: #002555;
$color-fon: #001840;
$color-title: #fff;
$color-subtitle: #006742;
$color-text: #2c2c2c;
$color-text-light: #6b6969;

$font-title: 'dusha';
$font-text: 'myriadregular';
$font-text-bold: 'myriadbold';
$font-text-semibold: 'myriadsemibold';


html {
  @include desktop() {
    font-size: 16px;
  }
  @include laptop() {
    font-size: 16px;
  }
  
  @include minilaptop() {
    font-size: 14px;
  }
  
  @include tablet() {
    font-size: 12px;
  }
  
  @include phone() {
    font-size: 11px;
  }
}

* {
  box-sizing: border-box;
}

body {
  position: relative;
  background: $color-fon;
  min-width: 600px;
}

.wrapper {
  min-height: 100vh;
  width: 100%;
  margin: 0 auto;
  position: relative;
  overflow: hidden;
  background-image: url('https://ad.csdnevnik.ru/special/staging/panini/assets/img/bgmain.jpg');
  background-position: top center;
  //background-size: cover;
  background-repeat: no-repeat;
  padding-top: rem(250px);

  @include desktop() {
    padding-top: rem(200px);
  }

  @include tablet() {
    padding-top: rem(270px);
  }
  // @include phone() {
  //   padding-top: rem(300px);
  //   background-image: none;
  // }
}

.container {
  max-width: rem(800px);
  width: 100%;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  position: relative;
  height: 100%;

}

#app-start {
  flex: 1;
}

#app-start.offline .footer {
  display: none;
}

#app-teacher.offline .footer {
  display: none;
}

#app-start.offline .wrapper {
  background-image: url('https://ad.csdnevnik.ru/special/staging/panini/assets/img/bg3.jpg');
  //background-size: cover;
  
}

#app-teacher {
  flex: 1;
}

.help.is-danger {
  position: absolute;
  top: 100%;
  left: rem(20px);
  display: block;
  color: red;
  font-family: $font-text;
  font-size: rem(11px);
}

.header {
  background-color: #1c272d;
  border-bottom: 4px solid #fff;

  .container {
    max-width: 1240px;
    justify-content: flex-start;
    padding: rem(10px) 0;
  }
}

.header__link {
  width: 36px;
  height: 41px;
  text-decoration: none;

  @include url('logo.png');

  &:active,
  &:hover {
    text-decoration: none;
  }
}

.title {
  text-shadow: 0 4px 7px rgba(118, 56, 0, 0.32);
  color: #ffffff;
  font-family: $font-title;
  font-size: rem(37px);
  text-align: center;
  text-transform: uppercase;
  text-shadow: -1px -1px 0 #000,
  2px 3px 0 rgba(0, 0, 0, 0.21),
  -1px 1px 0 #000,
  1px 1px 0 #000;
}

.arrow-up {
  position: fixed;
  right: 15%;
  bottom: 30%;
  width: 90px;
  height: 30px;
  z-index: 99;

  @include desktop {
    right: 6%;
  }

  @include laptop {
    right: 5px;
  }

  @include minilaptop {
    right: 15px;
    width: 50px;
    height: 50px;
    overflow: hidden;
    font-size: 0;
    border-radius: 50%;
  }
}
.svgall {
  display: none;
}

.btn-main {
  display: block;
  border: 0;
  box-shadow: 0 6px 0 rgba(27, 27, 27, 0.21), 0 2px 0 rgba(27, 27, 27, 0.86);
  border-radius: 10px;
  background-color: #e43030;
  padding: rem(15px) rem(50px);
  color: #fff;
  cursor: pointer;
  margin: 0 auto;
  text-transform: uppercase;

  &:hover {
    background-color: #c30a00;
  }
}

@import 'blocks/**/*.scss';
